-
    locals.menuItems = [
    {
    name: 'color type',
    href: '/colorstype.html'
    }, {
    name: 'form elements',
    href: '/formelements.html'
    }, {
    name: 'headers & footers',
    href: '/headersfooters.html'
    }, {
    name: 'messages',
    href: '/messages.html'
    }, {
    name: 'landing page',
    href: '/landingpage.html'
    }
    ]
    locals.guestMenuItems = [
    {
    name: 'sign in',
    href: '/signin.html'
    }, {
    name: 'sign up',
    href: '/signup.html'
    }
    ]
